/*--------------------------------------------------------------
# Base button style
  --------------------------------------------------------------*/
.button {
  @extend .btn;

  font-size: $size-xs;
  font-weight: 500;
  text-transform: uppercase;

  border: none;
  border-radius: 42px;
  padding: 0.75rem 1.75rem;
}

/*--------------------------------------------------------------
# Extended button style
  --------------------------------------------------------------*/
.button-primary {
  color: $color-white-100;
  background-color: $color-red-80;

  &:hover {
    color: $color-white-100;
    background-color: $color-purple-80;
  }
}

.button-secondary {
  background: none;
  border: 1px solid $color-purple-80;
  color: $color-purple-80;
  font-size: 0.87rem;

  padding-right: 2.75rem;
  padding-left: 2.75rem;

  &:hover {
    background-color: $color-red-100;
    color: $color-white-100;
    border-color: $color-red-100;
  }
}

.button-purple {
  color: $color-white-100;
  background-color: $color-purple-80;

  width: 260px;

  &:hover {
    background: none;
    border: 1px solid $color-purple-80;
    color: $color-purple-80;
  }
}

.button-category {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: none;
  color: $color-blue-100;

  padding: 0.6rem 2.6rem;

  background-color: $color-white-100;

  &:hover {
    color: $color-blue-100;
    background-color: $color-purple-60;
  }
}

.button-category-active {
  color: $color-white-100;
  background-color: $color-purple-80;
}

/*--------------------------------------------------------------
# Base tag style
  --------------------------------------------------------------*/
.button-tag {
  @extend .shadow-sm;
  cursor: pointer;
  margin-left: 0.6rem;
  padding: 0.4rem 1rem 0.3rem;

  color: $color-blue-100;
  font-weight: bold;

  transition: 0.2s ease;
}

/*--------------------------------------------------------------
# Extended tag style
  --------------------------------------------------------------*/
.button-tag-primary {
  background-color: $color-blue-40;

  &:hover {
    background-color: $color-purple-80;
    color: $color-white-100;
    @extend .shadow;
  }
}

.button-tag-secondary {
  background-color: $color-white-60;

  &:hover {
    background-color: $color-blue-40;
    @extend .shadow;
  }
}
