.container-xxl {
  max-width: 1380px;
}

.content-container {
  background-color: $color-white-100;
  border-radius: 15px;

  @extend .shadow-sm;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  &:hover {
    @extend .shadow;
  }
}
