.read-on {
  text-decoration: none;

  font-weight: 900;
  font-size: 0.85rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $color-purple-100;

  &:after {
    content: '\25BA';
  }
}

.link {
  text-decoration: none;

  font-weight: 700;
  font-size: 1.2rem;

  color: $color-purple-100;
}

.post-back {
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid $color-purple-40;
}

.margin-bottom-big {
  margin-bottom: 4rem;
}
