/*--------------------------------------------------------------
# Custom colors
--------------------------------------------------------------*/
$color-red-100: hsla(342, 100%, 43%, 1); // db0042 - Eternal Cherry
$color-red-80: hsla(341, 88%, 48%, 1); // #e80f53 - Red Wrath

$color-purple-100: hsla(272, 60%, 27%, 1); // #481d6f - Fading Horizon
$color-purple-80: hsla(265, 50%, 31%, 1); // #482776 - Windsor
$color-purple-60: hsla(247, 32%, 69%, 1); // #9b95c9 - Litmus
$color-purple-40: hsla(244, 33%, 83%, 1); // #c7c5e2 - Purple Purity

$color-blue-100: hsla(238, 41%, 29%, 1); // #2b2d68 - Sodalite Blue
$color-blue-80: hsla(238, 42%, 48%, 1); // #474aaf - Megadrive Screen
$color-blue-60: hsla(238, 29%, 45%, 1); // #515392 - Onion Skin Blue
$color-blue-40: hsla(208, 100%, 82%, 1); // #a2d4ff - Baby Blue

$color-white-100: hsla(0, 0%, 100%, 1); // #fff - White
$color-white-80: hsla(272, 26%, 89%, 0.51); // #e3dbea82 - Awakened
$color-white-60: hsla(272, 26%, 89%, 1); // #e3dbea - Awakened
