.entry-content {
  color: $color-blue-100;

  h2 {
    @extend .text-h4;
  }

  p {
    @extend .text-regular;
  }

  a {
    color: $color-blue-100;
    transition: 0.5s ease;

    &:hover {
      color: $color-red-80;
    }
  }

  img {
    max-width: 100%;
    display: block;
  }

  // video embed reset to be responsive
  .wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
  }

  .mejs-container {
    padding-top: 56.25%;
  }

  .wp-video, video.wp-video-shortcode {
    max-width: 100% !important;
  }

  video.wp-video-shortcode {
    position: relative;
  }

  .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .mejs-controls {
    display: none;
  }

  .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
  }
}
