.entry-content {
  color: $color-blue-100;
  max-width: 60vw;

  @media (max-width: 800px) {
    max-width: 90vw;
  }

  h2 {
    @extend .text-h4;
  }

  p {
    @extend .text-regular;
  }

  a {
    color: $color-blue-100;
    transition: 0.5s ease;

    &:hover {
      color: $color-red-80;
    }
  }

  ol, ul {
    padding-left: 0;
    font-size: 0.9rem;

    li {
      font-weight: 400;
    }
  }

  figure {
    width: 100% !important;
  }

  img {
    @extend .img-fluid;
  }

  // video embed reset to be responsive
  .wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
  }

  .mejs-container {
    padding-top: 56.25%;
  }

  .wp-video, video.wp-video-shortcode {
    max-width: 100% !important;
  }

  video.wp-video-shortcode {
    position: relative;
  }

  .mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .mejs-controls {
    display: none;
  }

  .mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
  }
}

.special-post-container {
  padding: 2.5rem 0;

  .post-back {
    padding-bottom: 2rem;
    margin-bottom: 0;
    border: none;
  }

  & > div:not(.special-post-header) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.special-post-header {
  height: 354px;
  width: 100%;

  .special-post-header-content {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .special-post-author span {
    color: $color-white-100 !important;
  }

  .button-tag {
    margin-left: 0;
    margin-right: 0.6rem;
  }
}

.cute-robot {
  margin: 4rem auto;
  display: block;
  @extend .rotateIn;
}

.img-error {
  margin: 4rem auto;
  display: block;
}
