.astro-footer {
  background-color: $color-purple-100;
}

.footer-text-subtle {
  color: $color-purple-40;
  font-size: 16px;
}

.footer-header {
  color: $color-purple-60;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.footer-divider {
  border: 1px solid $color-purple-60;
}

.footer-text {
  color: $color-white-100;
  font-size: 16px;

  strong {
    color: $color-purple-40;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    color: $color-white-100;

    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:hover {
      color: $color-white-60;
    }
  }
}

.footer-item {
  list-style-type: none;

  a {
    text-decoration: none;
    font-size: 16px;
    color: $color-white-100;

    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:hover {
      color: $color-white-60;
    }
  }
}

.footer-copyright {
  @extend .footer-text-subtle;
  font-size: 13px;

  a {
    text-decoration: none;
    color: $color-purple-40;
    font-weight: 500;

    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:hover {
      text-decoration: underline;
    }
  }
}
