.astro-nav {
  margin-top: 5px;
  margin-bottom: 5px;
}

.astro-nav-brand {
  transition: transform 0.5s;

  &:hover {
    transform: scale(0.98);
  }
}

.astro-nav-text {
  font-weight: bold;
  font-size: 16px;
  color: $color-blue-100;
}

.astro-nav-separator {
  border-right: 1px solid $color-purple-40;
  margin-right: 5px;
  margin-left: 5px;
}

.astro-nav-hover {
  text-decoration: none;
  background-image: linear-gradient($color-white-100, $color-white-100),
  linear-gradient(to right, $color-red-80, $color-blue-100);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.75s ease;

  &:hover {
    background-size: 0 2px, 100% 2px;
  }
}
