.searchbar-bg {
  background-color: $color-purple-100;
  height: 325px;
  background-image: url('../img/banner/header.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.searchbar-bg-small {
  background-color: $color-purple-100;
  height: 180px;
  background-image: url('../img/banner/header-subpage.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.searchform {
  & button {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
}

.searchbar-container {
  position: relative;

  .searchbar-illustration {
    position: absolute;
    bottom: -23px;
    right: 60px;

    @extend .entrance;
  }
}
