.searchbar-bg {
  background-color: $color-purple-100;
  height: 325px;
  background-image: url('../img/banner/header.svg');
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 800px) {
    height: 220px
  }
}

.searchbar-bg-small {
  background-color: $color-purple-100;
  height: 180px;
  background-image: url('../img/banner/header-subpage.svg');
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 800px) {
    height: 120px
  }
}

.searchform {
  & button {
    padding-right: 2rem !important;
    padding-left: 2rem !important;

    @media (max-width: 800px) {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.searchbar-container {
  position: relative;

  .searchbar-illustration {
    position: absolute;
    bottom: -23px;
    right: 60px;

    @extend .entrance;

    @media (max-width: 800px) {
      display: none;
    }
  }
}

.mobile-round-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0.2rem !important;
  top: 12%;
}
