.widget {
  @extend .d-flex;
  @extend .flex-column;
  @extend .content-container;

  margin-bottom: 1.5rem;

  .children {
    display: none;
  }

  ul {
    padding-left: 0;
  }
}

.widget_tags {
  @extend .py-4;

  li {
    font-weight: 700;

    margin-left: 2.5rem;
    margin-right: 2.5rem;

    @media (max-width: 1200px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  hr {
    margin: 0.25rem 2.5rem;

    height: 1px !important;
    color: $color-purple-60;

    @media (max-width: 1200px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  a {
    vertical-align: middle;
    @include fluid-font-size($size-m, $size-l);
  }
}

.selected {
  background-color: $color-purple-40;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  @media (max-width: 1200px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &:before {
    color: $color-purple-100 !important;
  }
}

.widget_latest {
  padding: 3rem;

  @media (max-width: 1200px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h4 {
    margin-left: 0.75rem;
    cursor: pointer;
  }

  li {
    list-style-type: none;
    cursor: pointer;
  }

  ul {
    padding-left: 0;
  }

  img {
    object-fit: cover;
    object-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-height: 180px;
  }

  button {
    margin-top: 2rem;
  }
}
